.header-logo
	display flex
	align-items center
	color color_blank
	text-decoration none
	&__image,
	&__title
		display block
	&__image
		width 32px
		height 32px
	&__title
		margin-left 8px
		fs(16, 24)
		font-weight 700
		text-transform uppercase
