include ../../button/button

.hero-info
	.hero-info__heading= hero.heading
	.hero-info__description= hero.description
	.hero-info__button
		+button({
			title: hero.button,
			href: '#',
			action: 'hello-action'
		})
