// path:
// absolute '/assets',
// relative '../../assets'

path_assets = '../../assets'

gap_laptop = 20px
gap_touch  = 10px

display_mp = 320px
display_ml = 500px
display_ts = 640px
display_tp = 768px
display_tl = 1024px
display_lt = 1180px + (gap_laptop * 2)

font_list = {
	'1': { title: 'Roboto', name: 'roboto-400-regular', weight: 400 },
	'2': { title: 'Roboto', name: 'roboto-700-bold', weight: 700 },
	'3': { title: 'PT Sans', name: 'ptsans-700-bold', weight: 700 }
}
font_default = 'Roboto', Helvetica, Arial, Sans-Serif
font_second  = 'PT Sans', serif

color_blank   = #ffffff
color_default = #222222
color_primary = #424b9f
