@import '../app/config.styl'

.icon
	display block
	width 100%
	height 100%
	use
		fill color_default
	&--primary use
		fill color_primary
	&--invert use
		fill color_blank
	&--gray use
		fill color_gray
	&--second use
		fill color_second
	&--thin use
		fill color_iron
	&--disable use
		fill color_disable
