include ../components/app/config

-
	const headConfig = {
		fonts: [
			'roboto-400-regular',
			'roboto-700-bold',
			'ptsans-700-bold',
		],
	}

block data
	- const heading = ''

doctype html
html(lang='ru')
	head
		title= heading
		meta(charset='UTF-8')
		meta(name='description', content='')
		meta(name='format-detection', content='telephone=no')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='Content-Security-Policy', content='upgrade-insecure-requests')
		include ../static/favicon/favicon.html
		each font in headConfig.fonts
			link(rel='preload' href=path_assets+'/fonts/'+font+'.woff2' as='font' crossorigin='anonymous')
	body
		block body
